* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f08300;
  --secondary-color: #c2bcb0;
}

html {
  direction: rtl;
}

body {
  font-family: vazir, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: vazir;
  src: url("../assets/fonts/vazir.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-right: 0;
  margin-bottom: 0;
}

button {
  transition: all 0.5s !important;
}

img {
  width: 100%;
}

.primary-color {
  color: var(--primary-color);
}

.primary-bg {
  background: var(--primary-color);
}

.section-title {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.6rem;
}
