/*------------ top header styles ------------*/
header #top-header .top-header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header #top-header .top-header-btn {
  background: var(--primary-color);
  padding: 0.7rem 1rem;
  color: #fff;
  border-radius: 0;
}

header #top-header .top-header-btn:hover {
  background: #111;
}

/*------------ bottom header styles ------------*/
header #bottom-header .bottom-header-link {
  color: #fff;
  position: relative;
}

header #bottom-header .bottom-header-link i {
  margin-right: 0.3rem;
}

/* close header list button */
header #bottom-header .close-header-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  padding: 0.6rem 0.7rem;
  transition: all 0.3s;
  color: #fff;
  border: 1px solid var(--primary-color);
  line-height: 0;
}

header #bottom-header .close-header-btn:hover {
  background: var(--primary-color);
}

@media screen and (max-width: 768px) {
  header #bottom-header .header-navbar {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
    backdrop-filter: blur(4px);
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s;
  }

  header #bottom-header .header-navbar .header-list {
    width: 100%;
    margin-top: 5rem;
  }

  header #bottom-header .bottom-header-link {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--secondary-color);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  }

  header #bottom-header .bottom-header-link:hover {
    background: #fff;
    color: var(--primary-color);
    text-shadow: none;
  }

  /* show header navbar */
  header #bottom-header .header-navbar.show-header-navbar {
    opacity: 1;
    transform: translateX(0);
  }
}

/* burger button */
header #bottom-header .burger-btn {
  font-size: 1.4rem;
  color: #fff;
}

/* under menu list */
header #bottom-header .bottom-header-item {
  padding: 1rem 0;
}

header #bottom-header .under-menu-list {
  width: 240px;
  max-height: 250px;
  overflow: auto;
  background: #fff;
  padding: 0.6rem;
  position: absolute;
  z-index: 999;
  transition: all 0.4s;
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;
}

header #bottom-header .bottom-header-item:hover .under-menu-list {
  opacity: 1;
  transform: translateY(1rem);
  pointer-events: auto;
}

header #bottom-header .under-menu-list .under-menu-link {
  display: block;
  padding: 0.4rem 0;
  width: 100%;
}

header #bottom-header .under-menu-list .under-menu-link:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  header #bottom-header .under-menu-list {
    transform: translateY(0) !important;
  }
  header #bottom-header .bottom-header-item {
    padding: 0;
  }
}
/*------------ main header styles ------------*/
header #main-header {
  width: 100%;
  height: 750px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/images/main-header-img.jpg) no-repeat center/cover;
  position: relative;
}

header #main-header .main-header-info {
  position: absolute;
  top: 35%;
  right: 50%;
  transform: translateX(50%);
}

header #main-header .main-header-info .main-header-title {
  /* font-size: 5rem; */
  font-weight: bold;
  color: #fff;
  margin-bottom: 5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 992px) {
  header #main-header .main-header-info .main-header-title {
    font-size: 4rem;
    text-align: start !important;
  }
  header #main-header .main-header-buttons-wrapper {
    justify-content: flex-start !important;
  }
}

/* main header buttons */
header #main-header .main-header-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

header #main-header .main-header-buttons-wrapper .main-header-btn {
  color: #fff;
  border: 2px solid #fff;
  padding: 1rem 1.4rem;
  border-radius: 0;
  margin: 0 0.5rem;
  font-weight: bold;
}

header #main-header .main-header-buttons-wrapper .main-header-btn:hover {
  background: #fff;
  color: var(--primary-color);
}

header #main-header .main-header-buttons-wrapper #services-btn {
  background: var(--primary-color);
  border-color: var(--primary-color);
  padding: 1rem 2rem;
}

header #main-header .main-header-buttons-wrapper #services-btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

/*----------------------- SERVICES SECTION -----------------------*/
.services-container {
  padding-top: 5rem;
  position: relative;
}

.services-container::after {
  content: "";
  width: 100%;
  height: 400px;
  background: #ffe4c3;
  position: absolute;
  inset: 0;
  z-index: -2;
}

/* service pattern */
.services-container .service-pattern-wrapper {
  position: absolute;
  top: -2rem;
  right: -3rem;
  z-index: -1;
  opacity: 0.6;
}

.services-container .service-pattern-wrapper .service-pattern {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .services-container .service-pattern-wrapper {
    top: -1rem;
    right: -2rem;
  }

  .services-container .service-pattern-wrapper .service-pattern {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .services-container .service-pattern-wrapper {
    top: -0.5rem;
    right: -1rem;
  }
}

.services-container .service-item {
  background: #fff;
  padding: 3rem 1.8rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .services-container .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.services-container .service-item .service-icon {
  width: 70px;
  margin-bottom: 2rem;
}

.services-container .service-item .service-item-title {
  color: #e53e29;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

/* diffrent service item */
.services-container .diffrent-service-item {
  background: var(--primary-color);
  color: #fff;
}

.services-container .diffrent-service-item .service-item-title {
  color: #fff;
}

/*-------------------- SPECIAL SERVICES STYLES --------------------*/
.special-services-container {
  margin-top: 2.5rem;
}

.special-services-container .special-service-item {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 8%);
  margin-bottom: 1rem;
}

.special-services-container .special-service-img-wrapper {
  position: relative;
}

/* icon pattern */
.special-services-container .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 17px 35px 17px 23px;
  left: 6%;
  bottom: -9%;
  filter: drop-shadow(0 0 35px rgba(0, 0, 0, 0.08));
  z-index: 1;
}

.special-services-container .icon-wrapper::after {
  content: "";
  position: absolute;
  background: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 1%, 85% 0, 100% 100%, 0 100%);
  border-radius: 10px 26px 10px 10px;
  transition: all 0.5s;
  z-index: 1;
}

.special-services-container .icon-wrapper .service-icon {
  font-size: 1.6rem;
  color: var(--primary-color);
  transition: all 0.4s;
  z-index: 2;
}

.special-services-container .special-service-item:hover .icon-wrapper::after {
  background: var(--primary-color);
}

.special-services-container .special-service-item:hover .service-icon {
  color: #fff;
}

.special-services-container .special-service-item:hover,
.special-services-container .special-service-item:hover p {
  color: #fff !important;
}

.special-services-container .special-service-content {
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  transition: all 0.4s;
  padding-top: 3.5rem;
}

.special-services-container .special-service-content::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  width: 100%;
  transition: all 0.4s;
  height: 3px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.special-services-container
  .special-service-item:hover
  .special-service-content::after {
  height: 100%;
}

.special-services-container
  .special-service-item:hover
  .special-service-content {
  background: transparent;
}

.special-services-container .special-service-item:hover .special-service-text {
  transition: all 0.3s;
}

.special-services-container .special-service-item .read-more-btn {
  color: var(--primary-color);
  font-weight: bold;
  padding: 0.4rem 0;
  margin-top: 1rem;
}

.special-services-container .special-service-item .read-more-btn:hover {
  padding-right: 0.6rem;
}

.special-services-container .special-service-item:hover .read-more-btn {
  color: #fff;
}
